<h1>Editing task</h1>

<%= render 'form' %>

<%= link_to 'Show Details', @task, :class => "btn btn-mini btn-primary", :style => "float:right; margin-left:10px;" %> 
<%= link_to 'Calendar', tasks_path, :class => "btn btn-mini btn-primary", :style => "float:right;" %>
<div style="clear:both;"></div>
