<h1>Editing Appointment</h1>

<%= render 'form' %>

<%= link_to 'Show Details', @event, :class => "btn btn-mini btn-primary", :style => "float:right; margin-left:10px;" %> 
<%= link_to 'Calendar', events_path, :class => "btn btn-mini btn-primary", :style => "float:right;" %>
<div style="clear:both;"></div>
