      <ul class="nav nav-list">
        <li class="nav-header">Tools</li>
        <li>
          <a href="/dashboard">
            <i class="icon-home"></i>
            Dashboard
          </a>
        </li>
        <li>
          <a href="/tasks">
            <i class="icon-ok"></i>
            Tasks
          </a>
        </li>
        <li>
          <a href="/events">
            <i class="icon-calendar"></i>
            Appontments
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-book"></i>
            Reports
          </a>
        </li>
        <li>
          <a href="#">
          <i class="icon-pencil"/></i>
          Vacancy
          </a>
        </li>
        <li class="nav-header">My NYSE</li>
        <li>
          <a href="#">
          <i class="icon-user"/></i>
          Profile
          </a>
        </li>
        <li>
          <a href="#">
          <i class="icon-cog"/></i>
          Settings
          </a>
        </li>
        <li class="divider"/>
        <li>
          <a href="#">
          <i class="icon-flag"/></i>
          Help
          </a>
        </li>
        <li>
          <%= link_to "Logout", destroy_company_admin_session_path, method: :delete %>
        </li>
      </ul>