<h2>
  Services We Provide</h2>
<p>
  At the New York Staff Exchange we can help you with a range of day to day business issuse, check out by clicking on a link below...</p>
              <ul class="thumbnails">
                <li class="span2">
                  <div class="thumbnail">
                    <a href="/pages/recruiting-process-design-benchmarking"><img src="/assets/images/recruitment.jpg" alt="Recruitment"></a>
                    <h6 style="color:#D54D0D;">RECRUITMENT</h6>
                  </div>
                </li>
                <li class="span2">
                  <div class="thumbnail">
                    <a href="/pages/staffing"><img src="/assets/images/staff.jpg" alt="Staffing"></a>
                    <h6 style="color:#D54D0D;">STAFFING</h6>
                  </div>
                </li>
                <li class="span2">
                  <div class="thumbnail">
                    <a href="/pages/support"><img src="/assets/images/support.jpg" alt="Support"></a>
                    <h6 style="color:#D54D0D;">SUPPORT</h6>
                  </div>
                </li>
                <li class="span2">
                  <div class="thumbnail">
                    <a href="/pages/training"><img src="/assets/images/training.jpg" alt="Training"></a>
                    <h6 style="color:#D54D0D;">TRAINING</h6>
                  </div>
                </li>
              </ul>