<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @years_experience.title %>
</p>


<%= link_to 'Edit', edit_years_experience_path(@years_experience) %> |
<%= link_to 'Back', years_experiences_path %>
